@import "tailwindcss";

@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
  --color-app-text: #525772;
  --color-app-green: #75CE8E;
}



html {
  scroll-behavior: smooth !important;
}


main,
header,
footer {
  overflow-x: hidden !important;
}